Repository Avaiga/taipy-core, pull requests merged in 2023-01, with the labels that each got.

#400 Feat/#397 - Enforce the Core service for a core application
  src/taipy/core/_core.py
  src/taipy/core/_scheduler/_scheduler.py
  src/taipy/core/_scheduler/_scheduler_factory.py
  src/taipy/core/common/_warnings.py
  src/taipy/core/taipy.py
  tests/test_taipy.py
Labels: 🟧 Priority: High, ✨New feature

#419 Fix/#415 - Override not working for production mode
  src/taipy/core/_version/_version_manager.py
  tests/core/version/test_version_cli.py
Labels: 💥Malfunction

#422 Fix/#416 - Entities are cleaned after every submit on development version
  src/taipy/core/taipy.py
Labels: Core: Versioning, 💥Malfunction

#418 Fix/ Update _ConfigComparator to check for iterable variable
  src/taipy/core/_version/_version_manager.py
  tests/core/version/test_version_cli.py
Labels: 💥Malfunction

#433 Remove the need for `--version-number` option
  src/taipy/core/_version/_version_cli.py
  tests/core/version/test_version_cli.py
Labels: Core: Versioning, 📈 Improvement

#439 Feat/#412 Update `--force` and add `--clean-entities` options on versioning
  src/taipy/core/_core.py
  src/taipy/core/_version/_version_cli.py
  src/taipy/core/_version/_version_manager.py
  src/taipy/core/exceptions/exceptions.py
  tests/core/version/test_version_cli.py
  tests/core/version/test_version_manager.py
Labels: Core: Versioning, 📈 Improvement

#447 File not found error
  .github/workflows/packaging.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  MANIFEST.in
  setup.py
  src/taipy/core/__init__.py
Labels: Core, 🖧 Devops
